{% load static %}
	<!-- start footer Area -->
	<footer class="footer-area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-3  col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>About Us</h6>
						<p>
							In Shoe Plaza customer can brows ,compare and   purchase shoes from the comfort of their own homes, without having 
							to physicaly visit a store.						</p>
					</div>
				</div>
				<div class="col-lg-4  col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>Experiance shoeplaza on mobile</h6>
						
					    <div class="d-flex justify content-center align-items-centre" >
							<ul>
								<li>
								  <a href="https://play.google.com/store" target="_blank" >
									<img src="{% static 'img/googlplay.png' %}" alt="" >
								  </a>
								</li>
							  </ul>
							  
							<ul><li><img src="{% static '' %}" alt="" ></li></ul>
						</div>
						
					</div>
				</div>
				<div class="col-lg-3  col-md-6 col-sm-6">
					<div class="single-footer-widget mail-chimp">
						
					    <div>
						  <h6 class="mb-20">Payment methods</h6>
						    <ul class="instafeed d-flex ">
						 	 <li><a href="https://www.mastercard.co.in/en-in.html" target="_blank"><img src="{% static 'img/py1.jpg' %}" alt="" style="width: 100%; height: auto;"></li></a>
							   <li><a href="https://www.visa.co.in/pay-with-visa/find-a-card/credit-cards.html" target="_blank"><img src="{% static 'img/py2.webp' %}" alt="" style="width: 100%; height: auto;"></li></a>
						    </ul>
						    <ul class="instafeed d-flex ">
							   <li><a href="https://www.paypal.com/in/home" target="_blank"><img src="{% static 'img/py4.webp' %}" alt="" style="width: 100%; height: auto;"></li></a>
							   <li><a href="https://www.afterpay.com/en-US/categories/home" target="_blank"><img src="{% static 'img/py3.webp' %}" alt="" style="width: 100%; height:auto;"></li></a>
						    </ul>

					    </div>
					</div>
				</div>
				<div class="col-lg-2 col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>Follow Us</h6>
						<div class="footer-social d-flex align-items-center">
							<a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook" style="font-size: 2.5rem;"></i></a>
							<a href="https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoiZW4ifQ%3D%3D%22%7D" target="_blank"><i class="fa fa-twitter" style="font-size: 2.5rem;"></i></a>
							<a href="https://www.instagram.com/"><i class="fa fa-instagram" style="font-size: 2.5rem;" target="_blank"></i></a>
							<a href="https://www.youtube.com/" target="blank"><i class="fa fa-youtube" style="font-size: 2.5rem;" target="_blank"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
				<p class="footer-text m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> ShoePlaza india Pvt Ltd All rights reserved.
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</p>
		     </div>
		</div>
	</footer>
	<!-- End footer Area -->